<p>
  <strong>Team:</strong>
  <%= @team.teamname %>
</p>
 <p>
  <strong>Rok założenia</strong>
  <%= @team.year %>
</p>
<p>
    <strong>Trener</strong>
    <%= @team.coach %>
</p>
<%= link_to 'Back', teams_path %>
