<footer class="footer">
  <small>
  
    Made by <a href="http://www.michaelhartl.com">Marcin B</a>
  </small>
  <nav>
    <ul>
        <li><a href="http://www.sportowefakty.pl/">Najlepsza liga na świecie</a></li>
      <li><%= link_to "O stronie",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
      
    </ul>
  </nav>
</footer>
